// SPDX-License-Identifier: GPL-2.0+

/dts-v1/;
#include "mt7621.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "RAISECOM MSG1500 X.00";
	compatible = "raisecom,msg1500-x00", "mediatek,mt7621-soc";

	chosen {
		stdout-path = &uartlite0;
	};

	config {
		reset-button = "reset";
		wps-button = "wps";
		status1-led = "blue:usb";
	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			gpios = <&gpio 15 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};

		wifi {
			label = "wifi";
			gpios = <&gpio 7 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RFKILL>;
		};

		wps {
			label = "wps";
			gpios = <&gpio 18 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_WPS_BUTTON>;
		};
	};

	leds {
		compatible = "gpio-leds";

		wlan2g {
			label = "blue:wlan2g";
			gpios = <&gpio 4 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		wlan5g {
			label = "blue:wlan5g";
			gpios = <&gpio 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		usb {
			label = "blue:usb";
			gpios = <&gpio 13 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};
};

&pinctrl {
	state_default: pinmux_conf {
		spi {
			groups = "spi";
			function = "nand1";
		};

		sdhci {
			groups = "sdhci";
			function = "nand2";
		};

		jtag {
			groups = "jtag";
			function = "gpio";
		};

		wdt {
			groups = "wdt";
			function = "gpio";
		};
	};
};

&gpio {
	status = "okay";
};

&i2c {
	gpios = <&gpio 3 1>, /* PIN3 as SDA */
		<&gpio 4 1>; /* PIN4 as CLK */
};

&uartlite0 {
	status = "okay";
};

&eth {
	status = "okay";
};

&xhci {
	status = "okay";
};
